body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
    border: 2px solid;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
    
  }
/*begin stuff i've messed with*/
  .col-sm-3{
      border: 1px solid; 
  }

  .col-md-6{
      border: 1px solid; 
  }

  .right{
    background-color: skyblue; 
  }

  .lock {
    background: gray;
    border-radius: 3px;
    width: 25px;
    height: 20px;
    margin-top: 60px;
    margin-left: 60px;
    position: relative;
  }
  
  .lock:before {
    content: "";
    display: block;
    position: absolute;
    border:3px solid gray;
    top: -14px;
    left: 2.3px;
    width: 15px;
    height: 27px;
    border-radius: 35px 35px 0 0;
  }

/*end*/
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  